# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
.env
.env.*
venv/
.venv/
env/
ENV/
venv.bak/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Byte-compiled / logs
*.log

# tests / coverage
htmlcov/
.coverage
coverage.xml

# Mypy, pip, tox
.mypy_cache/
.pytest_cache/
.tox/

# OS files
.DS_Store
Thumbs.db

# C++ / build
cmake-build-debug/
build/
*.o
*.obj
*.exe
libalglib.a
Final.exe

# CLion
.idea/
*.iml
